html *
{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  text-align: center;
  vertical-align: baseline;
  height: 50px;
}

tr:hover {background-color: lightblue; }

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  vertical-align: baseline;
  width: auto;
}

th {
  text-align: center;
}

td {
  text-align: left;
}



.job {
  font-family: 'Source Code Pro', monospace;
  vertical-align: baseline;
}

.absence {
  font-family: 'Roboto', sans-serif;
  vertical-align: super;
  position: relative;
  top: -4px;
  left: -8px;
}

